In [9]:
import pickle
import os
import inflection
import math
import datetime
import pandas as pd
import numpy  as np
from flask import Flask, request, Response
import requests

df_store = pd.read_csv('\\Users\\micro\\Desktop\\repos\\3_ciclo_intermediario\\1_ds_em_producao\\data\\store.csv', low_memory = False)
df = pd.read_csv('\\Users\\micro\\Desktop\\repos\\3_ciclo_intermediario\\1_ds_em_producao\\data\\test.csv')

In [10]:
# merge test dataset + store (perfomance das lojas + características das lojas)
df_test = pd.merge(df, df_store, how = 'left', on = 'Store')

# lojas escolhidas para testar as predições
df_test = df_test[df_test['Store'].isin([20, 23, 22])]

# removendo do teste os dias fechados
df_test = df_test[df_test['Open'] != 0]
df_test = df_test[~df_test['Open'].isnull()] # ~: diferente
df_test = df_test.drop('Id', axis = 1)

In [11]:
# converte o dataframe em json para fazer a comunicação entre os sistemas
data = json.dumps(df_test.to_dict(orient = 'records'))

In [12]:
# chamada em API
url = 'https://rossmann-api-5z78.onrender.com/rossmann/predict'
header = {'Content-type': 'application/json'} 
data = data

r = requests.post(url, data = data, headers = header) # post: precisa enviar algum dado para requerir
print('Status Code {}'.format(r.status_code)) # para ver se a requisição é válida ou não

Status Code 200

In [13]:
# pega o json da requisição e converte em dataframe
d1 = pd.DataFrame(r.json(), columns = r.json()[0].keys())
d1.head()

,store,day_of_week,date,open,promo,state_holiday,school_holiday,store_type,assortment,competition_distance,...,year,month,day,week_of_year,year_week,competition_since,competition_time_month,promo_since,promo_time_week,prediction
0,20,4,2015-09-17T00:00:00.000,1.0,1,regular_day,0,d,basic,2340.0,...,2015,9,17,38,2015-37,2009-05-01T00:00:00.000,77,2014-09-29T00:00:00.000,50,5638.562500
1,22,4,2015-09-17T00:00:00.000,1.0,1,regular_day,0,a,basic,1040.0,...,2015,9,17,38,2015-37,2015-09-01T00:00:00.000,0,2012-05-21T00:00:00.000,173,4062.384521
2,23,4,2015-09-17T00:00:00.000,1.0,1,regular_day,0,d,basic,4060.0,...,2015,9,17,38,2015-37,2005-08-01T00:00:00.000,123,2015-09-14T00:00:00.000,0,5101.500977
3,20,3,2015-09-16T00:00:00.000,1.0,1,regular_day,0,d,basic,2340.0,...,2015,9,16,38,2015-37,2009-05-01T00:00:00.000,77,2014-09-29T00:00:00.000,50,6049.292480
4,22,3,2015-09-16T00:00:00.000,1.0,1,regular_day,0,a,basic,1040.0,...,2015,9,16,38,2015-37,2015-09-01T00:00:00.000,0,2012-05-21T00:00:00.000,173,4076.813965

In [14]:
# mensagem mostrada ao usuário
d2 = d1[['store', 'prediction']].groupby('store').sum().reset_index()

for i in range(len(d2)):
    print('A loja {} irá vender R${:,.2f} nas próximas 6 semanas.'.format(d2.loc[i, 'store'], d2.loc[i, 'prediction']))

A loja 20 irá vender R$239,640.66 nas próximas 6 semanas
A loja 22 irá vender R$173,071.70 nas próximas 6 semanas
A loja 23 irá vender R$209,149.26 nas próximas 6 semanas